extends ./config/base
include ./mixins/_article
include ./mixins/_banner
include ./mixins/_links
include ./mixins/_nav

block style
  +links(title)

block content
  //- Variables
  -var docVersion = 'v0.1.0';
  -var types = ['primary', 'info', 'success', 'warning', 'danger', 'light', 'dark'];
  -var sizes = ['xsmall', 'small', '', 'large', 'xlarge'];
  -var roundness = ['radial', 'round'];

  //- Contents
  //- NAV
  +nav(title)

  //- MAIN
  main
    //- HERO
    +banner(title, subtitle)
  
    //- COMPONENTS
    .project
      .wrapper.make-padding-50-vertical.make-margin-30-bottom
        //--- ALERTS ---//
        +article("Alerts")
          //- DEFAULT
          .columns
            .column
              .alert
                p This is a <strong>default</strong> alert.
            .column
              .sticker
                code.
                  &lt;div class="<strong>alert</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &lt;/div&gt;<br>

          //- TYPES
          .columns
            .column
              each value in types
                div(class=`alert make-${value}`)
                  p!= `This is a <strong>${value}</strong> alert.`
            .column
              .sticker
                code.
                  &lt;div class="alert <strong>[make-$type]</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &lt;/div&gt;<br>
        
        //--- BLOCKQUOTES ---//
        +article("Blockquotes")
          //- DEFAULT
          .columns
            .column
              .blockquote
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, commodi?
                .blockquote__footer Anonymous
            .column
              .sticker
                code.
                  &lt;blockquote class="<strong>blockquote</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;footer class="<strong>blockquote__footer</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of footer<br>
                  &nbsp;&nbsp;&lt;/footer&gt;<br>
                  &lt;/blockquote&gt;
        
        //--- BOXES ---//
        +article("Box")
          //- DEFAULT
          .columns
            .column
              .box
                p This is a regular box element.
            .column
              .sticker
                code.
                  &lt;div class="<strong>box</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &lt;/div&gt;
          
          //- LINK
          .columns
            .column
              a.box
                p This is a link box element.
            .column
              .sticker
                code.
                  &lt;a <strong>href="#"</strong> class="box"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &lt;/div&gt;

        //--- BUTTONS ---//
        +article("Buttons")
          //- DEFAULTS
          .columns
            .column
              .buttons
                .button Div
                a(href="#").button Link
                button.button Button
                input.button(type="button", value="Button")
                input.button(type="submit", value="Submit")
                input.button(type="reset", value="Reset")
            .column
              .sticker
                code.
                  &lt;a href="#" class="<strong>button</strong>"&gt;Button&lt;/a&gt;<br>
                  &lt;button class="<strong>button</strong>"&gt;Button&lt;/button&gt;<br>
                  &lt;div class="<strong>button</strong>"&gt;Button&lt;/div&gt;<br>
                  &lt;input type="button" class="<strong>button</strong>" value="Button"&gt;<br>
                  &lt;input type="send" class="<strong>button</strong>" value="Button"&gt;<br>
                  &lt;input type="reset" class="<strong>button</strong>" value="Button"&gt;

          //- TYPES
          .columns
            .column
              .buttons
                each value in types
                  button(class=`button make-${value}`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-$type</strong>"&gt;Button&lt;/button&gt;<br>

          //- REVERSED
          .columns
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-reverse`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-reverse</strong>"&gt;Button&lt;/button&gt;<br>
  
          //- OUTLINED
          .columns
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-outline`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-outline</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- REVERSED OUTLINED
          .columns
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-outline make-reverse`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-outline make-reverse</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- LINKED
          .columns
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-link`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-link</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- SIZES
          .columns
            .column
              .buttons
                each size in sizes
                  if size == ''
                    button.button default
                  else
                    button(class=`button make-${size}`) #{size}
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-$size</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- BLOCK 
          .columns
            .column
              button.button.make-block Block
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-block</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- ROUNDNESS   
          .columns
            .column
              .buttons
                each round in roundness
                  button(class=`button make-${round}`) #{round}
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-$roundness</strong>"&gt;Button&lt;/button&gt;<br>
                  
        //--- LOADERS ---//
        +article("Loaders")
          //- DEFAULT
          .columns
            .column
              .button.make-dark
                .loader
            .column
              .sticker
                code.
                  &lt;div class="<strong>loader</strong>"&gt;&lt;/div&gt;
        
          //- TYPES
          .columns
            .column
              .buttons
                each value in types
                  if value == 'primary' || value == 'warning' || value == 'light'
                    button.button.make-dark
                      div(class=`loader make-${value}`)
                  else
                    button.button
                      div(class=`loader make-${value}`)
            .column
              .sticker
                code.
                  &lt;div class="loader <strong>make-$type</strong>"&gt;&lt;/div&gt;
        
          //- SIZES
          .columns
            .column
              .buttons
                .button.make-dark
                  .loader
                .button.make-dark
                  .loader.make-large
                .button.make-dark
                  .loader.make-xlarge
            .column
              .sticker
                code.
                  &lt;div class="loader <strong>make-$size</strong>"&gt;&lt;/div&gt;

        //--- TAGS ---//
        +article("Tags")
          //- DEFAULT
          .columns
            .column
              span.tag Tag
            .column
              .sticker
                code.
                  &lt;span class="<strong>tag</strong>"&gt;Tag&lt;/span&gt;

          //- TYPES
          .columns
            .column
              .tags
                each value in types
                  span(class=`tag make-${value}`) #{value}
            .column
              .sticker
                code.
                  &lt;span class="tag <strong>make-$type</strong>"&gt;Tag&lt;/span&gt;
          
          //- REVERSED      
          .columns
            .column
              .tags
                each value in types
                  span(class=`tag make-${value} make-reverse`) #{value}
            .column
              .sticker
                code.
                  &lt;span class="tag make-$type <strong>make-reverse</strong>"&gt;Tag&lt;/span&gt;
                  
          //- OUTLINED      
          .columns
            .column
              .tags
                each value in types
                  span(class=`tag make-${value} make-outline`) #{value}
            .column
              .sticker
                code.
                  &lt;span class="tag make-$type <strong>make-outline</strong>"&gt;Tag&lt;/span&gt;
                  
          //- ROUNDNESS      
          .columns
            .column
              span.tag.make-bullet bullet
            .column
              .sticker
                code.
                  &lt;span class="tag <strong>make-bullet</strong>"&gt;Tag&lt;/span&gt;

  //- FOOTER
  include ./layouts/footer