extends ./config/base
include ./mixins/_article
include ./mixins/_banner

block style
  link(rel="apple-touch-icon", sizes="180x180", href="../images/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="../images/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="../images/favicon-16x16.png")
  link(rel="manifest", href="../images/site.webmanifest")
  link(rel="mask-icon", href="../images/safari-pinned-tab.svg", color="#add2e6")
  link(rel="stylesheet", type="text/css" href="https://cdn.jsdelivr.net/gh/jdriviere/sparkle-css@1.9.14/dist/css/sparkle.min.css")
  link(rel="stylesheet", type="text/css" href="../stylesheets/main.css")
  link(rel="stylesheet", type="text/css" href="../stylesheets/sticker.css")

block content
  //- Variables
  -var version = version;
  -var docVersion = 'v0.1.0';
  -var types = ['primary', 'info', 'success', 'warning', 'danger', 'light', 'dark'];
  -var sizes = ['xsmall', 'small', '', 'large', 'xlarge'];
  -var roundness = ['radial', 'round'];

  //- Contents
  //- NAV
  header
    nav.nav.make-fixed
      input(type="checkbox")#nav__trigger
      label.nav__toggle(for="nav__trigger")
      .nav__brand
        img(src="../images/icon.png", alt="Sparkle.CSS logo")
      ul.nav__menu
        li.nav__menu__item
          a(href="/") Home
        li.nav__menu__item
          a(href="/get-started") Get Started
        li.nav__menu__item.make-active
          a(href="/documentation") Documentation
      ul.nav__menu.make-right
        li.nav__menu__item.make-tablet-hidden
          a(href=`https://github.com/jdriviere/sparkle-css/archive/v${version}.zip`).button.make-dark.make-outline.make-block Download
        li.nav__menu__item.make-tablet-hidden
          a(href="https://github.com/jdriviere/sparkle-css", target="_blank").button.make-primary.make-block Github
        li.nav__menu__item.make-phone-hidden
          a(href=`https://github.com/jdriviere/sparkle-css/archive/v${version}.zip`)
            i.fa.fa-download
        li.nav__menu__item.make-phone-hidden
          a(href="https://github.com/jdriviere/sparkle-css", target="_blank")
            i.fa.fa-github

  //- MAIN
  main
    //- HERO
    +banner(title, subtitle)
  
    //- COMPONENTS
    .project
      .wrapper.make-padding-50-vertical.make-margin-30-bottom
        //--- ALERTS ---//
        +article("Alerts")
          //- Snippet
          .grid.make-gutters
            //- Example
            .column
              .alert
                p This is a <strong>default</strong> alert.
            //- Code
            .column
              .sticker
                code.
                  &lt;div class="<strong>alert</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &lt;/div&gt;<br>

          //- TYPES
          .grid.make-gutters
            .column
              each value in types
                div(class=`alert make-${value}`)
                  p!= `This is a <strong>${value}</strong> alert.`
            .column
              .sticker
                code.
                  &lt;div class="alert <strong>[make-$type]</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &lt;/div&gt;<br>
        
        //--- BLOCKQUOTES ---//
        +article("Blockquotes")
          //- Snippet
          .grid.make-gutters
            .column
              .blockquote
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, commodi?
                .blockquote__footer Anonymous
            .column
              .sticker
                code.
                  &lt;blockquote class="<strong>blockquote</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;footer class="<strong>blockquote__footer</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of footer<br>
                  &nbsp;&nbsp;&lt;/footer&gt;<br>
                  &lt;/blockquote&gt;<br>

        //--- BUTTONS ---//
        +article("Buttons")
          //- Snippets
          .grid.make-gutters
            //- Examples
            .column
              .buttons
                .button Div
                a(href="#").button Link
                button.button Button
                input.button(type="button", value="Button")
                input.button(type="submit", value="Submit")
                input.button(type="reset", value="Reset")
            //- Code
            .column
              .sticker
                code.
                  &lt;a href="#" class="<strong>button</strong>"&gt;Button&lt;/a&gt;<br>
                  &lt;button class="<strong>button</strong>"&gt;Button&lt;/button&gt;<br>
                  &lt;div class="<strong>button</strong>"&gt;Button&lt;/div&gt;<br>
                  &lt;input type="button" class="<strong>button</strong>" value="Button"&gt;<br>
                  &lt;input type="send" class="<strong>button</strong>" value="Button"&gt;<br>
                  &lt;input type="reset" class="<strong>button</strong>" value="Button"&gt;

          //- TYPES
          .grid.make-gutters
            .column         
              .buttons
                each value in types
                  button(class=`button make-${value}`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-$type</strong>"&gt;Button&lt;/button&gt;<br>

          //- REVERSED
          .grid.make-gutters
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-reverse`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-reverse</strong>"&gt;Button&lt;/button&gt;<br>
  
          //- OUTLINED
          .grid.make-gutters
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-outline`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-outline</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- REVERSED OUTLINED
          .grid.make-gutters
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-outline make-reverse`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-outline make-reverse</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- LINKED
          .grid.make-gutters
            .column
              .buttons
                each value in types
                  button(class=`button make-${value} make-link`) #{value}
            .column
              .sticker
                code.
                  &lt;button class="button make-$type <strong>make-link</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- SIZES
          .grid.make-gutters
            .column
              .buttons
                each size in sizes
                  if size == ''
                    button.button default
                  else
                    button(class=`button make-${size}`) #{size}
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-$size</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- BLOCK 
          .grid.make-gutters
            .column
              button.button.make-block Block
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-block</strong>"&gt;Button&lt;/button&gt;<br>
                  
          //- ROUNDNESS   
          .grid.make-gutters
            .column
              .buttons
                each round in roundness
                  button(class=`button make-${round}`) #{round}
            .column
              .sticker
                code.
                  &lt;button class="button <strong>make-$roundness</strong>"&gt;Button&lt;/button&gt;<br>
                  
        //--- LOADERS ---//
        +article("Loaders")
          //- Snippet
          .grid.make-gutters
            .column
              .button.make-dark
                .loader
            .column
              .sticker
                code.
                  &lt;div class="<strong>loader</strong>"&gt;&lt;/div&gt;
        
          //- TYPES
          .grid.make-gutters
            -var types = ['primary', 'info', 'success', 'warning', 'danger', 'light', 'dark'];
            .column
              .buttons
                each value in types
                  if value == 'primary' || value == 'warning' || value == 'light'
                    button.button.make-dark
                      div(class=`loader make-${value}`)
                  else
                    button.button
                      div(class=`loader make-${value}`)
            .column
              .sticker
                code.
                  &lt;div class="loader <strong>make-$type</strong>"&gt;&lt;/div&gt;
        
          //- SIZES
          .grid.make-gutters
            .column
              .buttons
                .button.make-dark
                  .loader
                .button.make-dark
                  .loader.make-large
                .button.make-dark
                  .loader.make-xlarge
            .column
              .sticker
                code.
                  &lt;div class="loader <strong>make-$size</strong>"&gt;&lt;/div&gt;

        //--- TAGS ---//
        +article("Tags")
          //- Snippet
          .grid.make-gutters
            .column
              span.tag Tag
            .column
              .sticker
                code.
                  &lt;span class="<strong>tag</strong>"&gt;Tag&lt;/span&gt;

          //- TYPES
          .grid.make-gutters
            .column
              .tags
                span.tag.make-primary Primary
                span.tag.make-info Info
                span.tag.make-success Success
                span.tag.make-warning Warning
                span.tag.make-danger Danger
                span.tag.make-light Light
                span.tag.make-dark Dark
            .column
              .sticker
                code.
                  &lt;span class="tag <strong>make-$type</strong>"&gt;Tag&lt;/span&gt;
          
          //- REVERSED      
          .grid.make-gutters
            .column
              .tags
                each value in types
                  span(class=`tag make-${value} make-reverse`) #{value}
            .column
              .sticker
                code.
                  &lt;span class="tag make-$type <strong>make-reverse</strong>"&gt;Tag&lt;/span&gt;
                  
          //- OUTLINED      
          .grid.make-gutters
            .column
              .tags
                each value in types
                  span(class=`tag make-${value} make-outline`) #{value}
            .column
              .sticker
                code.
                  &lt;span class="tag make-$type <strong>make-outline</strong>"&gt;Tag&lt;/span&gt;
                  
          //- ROUNDNESS      
          .grid.make-gutters
            .column
              span.tag.make-bullet bullet
            .column
              .sticker
                code.
                  &lt;span class="tag <strong>make-bullet</strong>"&gt;Tag&lt;/span&gt;
                  

  //- FOOTER
  include ./layouts/footer